body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    font-family: Verdana, Geneva, sans-serif;
}
td {
    text-align: center;
}
#dirContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 35%;
}
#slotIndicatorContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
}
#tableIndicator {
    width: 50px;
    margin: 0 auto;
    margin-top: 10%;
}
.indicator {
    width: 5px;
    height: 10px;
    background-color: black;
    margin: 2px;
    box-shadow: 1px 1px 1px 1px #aaa;
}
.indicatorSelected {
    background-color: red;
}
.btnSelected{
    stroke: black !important;
    stroke-width: 5 !important;
}


/*#keyboardInput {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter:alpha(opacity=0);
}

#inputOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    !* bring your own prefixes *!
    transform: translate(-50%, -50%);
}

#inputOverlay > p {
    font-size: 5em;
    transition: opacity .5s .5s;
    opacity: 0;
}

#inputOverlay.active > p {
    opacity: 1;
    transition: opacity 0s;
}*/

svg#keyboard {
    width: 100%;
}

svg#keyboard > g > g {
    cursor: pointer;
}

.modal {
    display: none;
}

.simplemodal-container {
    color: #bbb;
    background-color: #333;
    border: 4px solid #444;
    padding: 12px;
    width: 500px;
    height: 200px;
}

.simplemodal-data > *:first-child {
    margin-top: 0;
}

.simplemodal-data > *:last-child {
    margin-bottom: 0;
}

.simplemodal-overlay {
    background-color: black;
}

.simplemodal-close {
    float: right;
    color: red;
    text-decoration: none;
}

.simplemodal-wrap {
    display: inline;
}
